@use "./Mixins.scss" as *;
@use "./Shared/Navs";
@use "./Shared/Button.scss";
@use "./Home/HeroPicHome.scss";
@use "./Home/OurCollection.scss";
@use "./Home/WhyUs.scss";
@use "./Home/HowItWorks.scss";
@use "./About/AboutUs.scss";
@use "./About/OurCommitment.scss";
@use "./About/UncompromsingQuality.scss";
@use "./About/OurHeadquarters.scss";
@use "./Subscribe/CreatePlan.scss";
@use "./Subscribe/PlanHowItWorks.scss";
@use "./Subscribe/PlanList.scss";
@use "./Subscribe/Options.scss";
@use "./Subscribe/OrderSummarySubscribe.scss";
@use "./Subscribe/Modal.scss";
:root {
  --darkCyan: #0e8784;
  --darkGreyBlue: #333d4b;
  --paleOrange: #fdd6ba;
  --lightCream: #fefcf7;
  --grey: #83888f;
  --backgroundGrey: #2c343e;
  --borderRadius: 8px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
