@use "./Mixins.scss" as *;
@use "Nav";
@use "./Home/HeroPicHome.scss";

:root {
  --darkCyan: #0e8784;
  --darkGeyBlue: #333d4b;
  --paleOrange: #fdd6ba;
  --lightCream: #fefcf7;
  --grey: #83888f;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #f2f2f2;
  padding: 0px;
  margin: 0px;
}
