@mixin title-ab-fontDesign {
  font-size: 150px;
  line-height: 150px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

@mixin H1-fontDesign {
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

@mixin H2-fontDesign {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

@mixin H2-fontDesignSmall {
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

@mixin H3-fontDesign {
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

@mixin H3-fontDesignSmall {
  font-size: 28px;
  line-height: 32px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

@mixin H4-fontDesign {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

@mixin body-fontDesign {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
}

@mixin body-fontDesignSmall {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  font-family: Barlow;
}
@mixin navMenu-fontDesign {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}

$mobile: 580px;
$tablet: 820px;

@mixin desktop {
  @media (min-width: calc($tablet + 1px)) {
    @content;
  }
}

@mixin desktop-tablet {
  @media (min-width: calc($mobile + 1px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) and (min-width: calc($mobile + 1px)) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
