@import "Mixins";

.Nav--container {
  @include navMenu-fontDesign;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  width: 1280px;
}

.Nav--links {
  display: flex;
  gap: 33px;

  a {
    text-decoration: none;
    color: var(--grey);
  }
}
