@use "../Mixins.scss" as *;

.Modal--Overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.Modal--Container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 597px;
  background-color: var(--lightCream);
  border-radius: var(--borderRadius);
  @include desktop-tablet {
    width: 540px;
  }
  @include mobile {
    width: 327px;
  }
}

.ModalorderSummary--title {
  display: none;
}

.Modal--titleContainer {
  display: grid;
  color: var(--lightCream);

  background-color: var(--darkGreyBlue);

  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  width: inherit;
  @include desktop-tablet {
    place-content: center;
    height: 136px;
  }
  @include mobile {
    padding: 28px 68px 28px 24px;
    height: 88px;
  }
}

.Modal--title {
  @include desktop-tablet {
    @include H2-fontDesign;
  }
  @include mobile {
    @include H3-fontDesignSmall;
  }
}
.ModalorderSummary--para {
  @include H4-fontDesign;
  line-height: 40px;
  color: var(--grey);

  @include desktop-tablet {
    margin: 57px auto 7px auto;
    height: 160px;
    width: 428px;
  }
  @include mobile {
    width: 279px;
    margin: 40px auto 0px auto;
  }
}

.Modal--para {
  @include body-fontDesign;
  margin: auto;
  @include desktop-tablet {
    width: 428px;
    @include body-fontDesign;
  }
  @include mobile {
    width: 279px;
    @include body-fontDesignSmall;
  }
}
.Modal--totalAndButtonContainer {
  display: flex;

  align-items: center;
  @include desktop-tablet {
    height: 56px;
    width: 428px;
    margin: 47px auto 0px auto;
    justify-content: space-between;
  }
}

.Modal--monthTotal {
  @include H3-fontDesign;
}
