@use "../Mixins.scss" as *;

.PlanHIWContainer {
  width: 1280px;
  margin: auto;
  background-image: url("bg-steps.png");
  background-repeat: no-repeat;
  margin-top: 177px;
  border-radius: var(--borderRadius);
}

.PlanHIWSectionContainer {
  display: flex;
  justify-content: center;
  gap: 95px;
  margin-right: 70px;
}

.PlanHIWTitle {
  display: none;
}

.PlanHIWNumber {
  @include H1-fontDesign;
  color: var(--paleOrange);
}

.PlanHIWSection {
  width: 285px;
}

.PlanHIWCircles {
  display: flex;
  padding: 91px 0px 0px 85px;

  gap: 351px;
}

.PlanHIWCircle {
  width: 29px;
  height: 29px;

  border-radius: 50%;
  border: 2px solid var(--darkCyan);
  z-index: 1;
}

.PlanHIWLine {
  border-top: 2px solid var(--paleOrange);
  width: 760px;
  align-self: center;
  position: absolute;
  margin-left: 15px;
  z-index: 0;
}

.PlanHIWSectionTitle {
  @include H3-fontDesign;
  color: var(--lightCream);
}

.PlanHIWPara {
  @include body-fontDesign;
  color: var(--lightCream);
  margin-bottom: 64px;
}
