@use "../Mixins.scss" as *;

.Button {
  background-color: var(--darkCyan);
  width: 217px;
  height: 56px;
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: var(--lightCream);
  border-radius: 7px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #66d2cf;
  }
}

.blankButton {
  background-color: #e2dedb;
  width: 217px;
  height: 56px;
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: var(--lightCream);
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

// button on the home page

.homeButton {
  margin-bottom: 200px;
  @include tablet {
    margin-left: 39px;
  }
  @include mobile {
    margin: 79px auto 120px auto;
  }
}

.HIWButton--Container {
  @include desktop {
    width: 1110px;
    margin: 200px auto 0px auto;
  }
}

.Button--Container {
  @include mobile {
    width: 100%;
    display: grid;
    justify-content: center;
  }
}
.myPlanButton {
  display: flex;
  margin-top: 55px;

  @include desktop {
    justify-content: flex-end;
    margin-bottom: 168px;
  }
  @include tablet-mobile {
    justify-content: center;
  }
  @include tablet {
    margin-bottom: 144px;
  }
  @include mobile {
    margin-bottom: 120px;
  }
}

.modalButton {
  @include mobile {
    width: 279px;
    margin: 24px;
  }
}
