.Button {
  background-color: var(--darkCyan);
  width: 217px;
  height: 56px;
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: var(--lightCream);
  border-radius: 7px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #66d2cf;
  }
}
