@use "../Mixins.scss" as *;

//Both NAV

.Nav--linksTop {
  @include desktop-tablet {
    display: flex;
    gap: 33px;
    align-items: center;
  }
  @include mobile {
    //grid-area: 2/1 / 2 / span 2;
    position: absolute;
    flex-direction: column;
    background-color: white;

    display: flex;
    top: 30px;
    z-index: 3;
    width: 100%;
    text-align: center;
    gap: 32px;
    padding: 65px 0px;
    box-shadow: 0px 20px 20px white;
  }

  a {
    text-decoration: none;
    @include desktop-tablet {
      color: var(--grey);
      @include navMenu-fontDesign;
      margin-top: 5px;
    }
    @include mobile {
      @include H4-fontDesign;
      color: var(--darkGreyBlue);
      width: 100%;
    }
  }
}

.TopNav-dropDownOverFlow {
  @include mobile {
    position: absolute;
    top: 30px;
    height: 90vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 100;
  }
}

.TopNav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  position: relative;

  @include desktop {
    margin: 40px auto;
  }
  @media (max-width: 1345px) {
    margin: 40px;
  }
  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0px;
  }
}

.TopNav--logo {
  @include mobile {
    margin-left: 40px;
  }
}

.TopNav--hamburger {
  @include desktop-tablet {
    display: none;
  }
  @include mobile {
    justify-self: flex-end;
    margin-right: 40px;
  }
}

//BOTTOM NAV
.BottomNav--container {
  display: flex;
  background-color: var(--backgroundGrey);
  min-height: 120px;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto 88px auto;
  padding: 47px 85px;
  @include tablet-mobile {
    flex-direction: column;
  }
}
.Nav--linksBottom {
  display: flex;

  @include desktop-tablet {
    gap: 33px;
    align-items: center;
  }

  @include mobile {
    flex-direction: column;
    margin: 48px auto;
    gap: 24px;
  }

  a {
    text-decoration: none;
    color: var(--grey);
    @include navMenu-fontDesign;
    margin-top: 5px;
    @include tablet {
      margin-top: 32px;
      margin-bottom: 65px;
    }
    @include mobile {
      text-align: center;
      margin-top: 0px;
    }
  }
}

.BottomNav--text {
  display: flex;
  align-items: center;
  gap: 103px;
}

.BottomNav--companyLogo {
  fill: white;
}

.BottomNav--socialMedia {
  display: flex;
  gap: 24px;
  justify-self: flex-end;
}
