@use "../Mixins.scss" as *;

.OurHeadquarters--Container {
  @include desktop {
    margin: 168px auto;
    width: 1045px;
  }
  @include tablet {
    width: 688px;
    margin: 144px auto;
  }
  @include mobile {
    width: 223px;
    margin: 120px auto;
  }
}

.OurHeadquarters--mainTitle {
  @include H4-fontDesign;
  color: var(--grey);
  width: 100%;
  margin: 0px auto 72px auto;
}

//container for addresses under the main title
.OurHeadquarters--LocationContainer {
  display: flex;
  justify-content: center;
  margin: 0px auto 168px auto;
  width: 100%;

  @include mobile {
    flex-direction: column;
    width: 223px;
    margin: 120px auto;
    text-align: center;
  }
}

.OurHeadquarters--title {
  color: var(--darkGreyBlue);
  @include desktop {
    @include H3-fontDesign;
  }
  @include tablet-mobile {
    @include H4-fontDesign;
    line-height: 36px;
  }
}
.australiaPic {
  margin-bottom: 50px;
}

.canadaPic {
  margin-bottom: 45px;
}

.UKPic {
  margin-bottom: 46px;
}

.address {
  list-style-type: none;
  padding-left: 0px;
  @include body-fontDesign;
  @include desktop {
    width: 285px;
    margin-right: 95px;
  }
  @include tablet {
    width: 223px;
  }
  @include mobile {
    margin-bottom: 80px;
  }
}
