@use "../Mixins.scss" as *;

.UncompromisingQuality--Container {
  display: flex;

  background-repeat: no-repeat;

  width: 1280px;
  height: 474px;
  position: relative;
  border-radius: 10px;
  @include desktop {
    background-image: url("bg-quality-desktop.png");
    width: 1280px;
    height: 474px;
    margin: 244px auto 0px auto;
  }
  @include tablet {
    background-image: url("bg-quality-tablet.png");
    width: 688px;
    height: 488px;

    margin: 304px auto 0px auto;
  }
  @include mobile {
    background-image: url("bg-quality-mobile.png");
    width: 327px;
    height: 509px;
    margin: 198px auto 0px auto;
  }
}

.UncompromisingQuality--text {
  color: var(--lightCream);
  @include desktop {
    margin: 88px 0px 0px 85px;
    width: 540px;
  }
  @include tablet {
    text-align: center;
    width: 540px;
    margin: 220px auto 0px auto;
  }
  @include mobile {
    text-align: center;
    width: 279px;
    margin: 140px auto 0px auto;
  }
}

.UncompromisingQuality--title {
  @include desktop {
    @include H2-fontDesign;
    margin-bottom: 32px;
  }
  @include tablet {
    @include H2-fontDesignSmall;
    margin-bottom: 24px;
  }
  @include mobile {
    @include H3-fontDesignSmall;
    line-height: 28px;
    margin-bottom: 24px;
  }
}

.UncompromisingQuality--para {
  @include desktop {
    @include body-fontDesign;
  }
  @include tablet-mobile {
    @include body-fontDesignSmall;
  }
}

.UncompromisingQuality--img {
  border-radius: 10px;
  position: absolute;
  @include desktop {
    right: 85px;
    bottom: 88px;
  }
  @include tablet {
    bottom: 328px;
    right: 57px;
  }
  @include mobile {
    width: 279px;
    height: 156px;
    bottom: 431px;
    right: 24px;
  }
}
