@use "../Mixins" as *;

.home--heroPicContainer {
  display: grid;
  width: 100%;
  position: relative;
  @include tablet-mobile {
    justify-self: center;
    justify-content: center;
  }
}

.home--heroPic {
  border-radius: 10px;
  grid-area: heroPic;
  @include tablet-mobile {
    height: 500px;
  }
}

.home--heroPicText {
  grid-area: heroText;

  color: var(--lightCream);
  @include desktop {
    margin-left: 85px;
    width: 500px;
    height: 367px;
  }
  @include tablet {
    width: 400px;
    margin-left: 58px;
  }

  @include mobile {
    margin: 74px auto 0px auto;
    text-align: center;

    width: 279px;
  }
}

.home--heroPicTitle {
  @include desktop {
    @include H1-fontDesign;
    margin-bottom: 32px;
    margin-top: 117px;
  }
  @include tablet {
    @include H2-fontDesign;
    font-size: 48px;
    width: 400px;
    margin-top: 104px;
  }
  @include mobile {
    @include H2-fontDesign;
    line-height: 40px;
    width: 279px;
  }
}

.home--heroPicPara {
  @include desktop {
    @include body-fontDesign;
    max-width: 445px;
    margin-bottom: 56px;
  }

  @include tablet-mobile {
    @include body-fontDesignSmall;
    margin: 0px auto 40px auto;
  }
}
