@use "../Mixins.scss" as *;

.HIWTitle {
  @include H4-fontDesign;
  color: var(--grey);
}

.HIWSectionContainer {
  display: flex;
  justify-content: center;
  gap: 95px;
  margin-right: 70px;
}

.HIWNumber {
  @include H1-fontDesign;
  color: var(--paleOrange);
}

.HIWSection {
  width: 285px;
}

.HIWCircles {
  display: flex;

  gap: 351px;
}

.HIWCircle {
  width: 29px;
  height: 29px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 2px solid var(--darkCyan);
  z-index: 1;
}

.HIWLine {
  border-top: 2px solid var(--paleOrange);
  width: 760px;
  align-self: center;
  position: absolute;
  margin-left: 15px;
  z-index: 0;
}

.HIWSectionTitle {
  @include H3-fontDesign;
  color: var(--darkGreyBlue);
}

.HIWPara {
  @include body-fontDesign;
  color: var(--darkGreyBlue);
  margin-bottom: 64px;
}
