@use "../Mixins.scss" as *;

.HIWContainer {
  @include tablet {
    margin-left: 39px;
  }
  @include mobile {
    width: 327px;
    margin: 120px auto 0px auto;
  }
}

.HIWTitle {
  @include H4-fontDesign;
  color: var(--grey);
  @include mobile {
    display: grid;
    justify-content: center;
  }
}

.HIWSectionContainer {
  display: flex;

  @include desktop {
    gap: 95px;
    margin-right: 70px;
    justify-content: center;
  }
  @include tablet {
    gap: 10px;
  }
  @include mobile {
    flex-direction: column;
  }
}

.HIWCircles {
  display: flex;
  @include desktop {
    gap: 351px;
  }
  @include tablet {
    gap: 204px;
  }
  @include mobile {
    display: none;
  }
}

.HIWCircle {
  width: 29px;
  height: 29px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 2px solid var(--darkCyan);
  z-index: 1;
}

.HIWLine {
  border-top: 2px solid var(--paleOrange);
  width: 760px;
  align-self: center;
  position: absolute;

  z-index: 0;
  @include desktop {
    width: 760px;
    margin-left: 15px;
  }
  @include tablet {
    width: 467px;
  }
}

.HIWNumber {
  @include H1-fontDesign;
  color: var(--paleOrange);
  @include mobile {
    margin: 56px auto 6px auto;
  }
}

.HIWSection {
  @include desktop {
    width: 285px;
  }
  @include tablet {
    width: 223px;
  }
  @include mobile {
    width: 327px;
    display: grid;
    justify-items: center;
    justify-self: center;
  }
}

.HIWSectionTitle {
  color: var(--darkGreyBlue);

  @include desktop {
    @include H3-fontDesign;
  }
  @include tablet-mobile {
    @include H3-fontDesignSmall;
  }
  @include mobile {
    width: max-content;
  }
}

.HIWPara {
  color: var(--darkGreyBlue);

  @include desktop {
    @include body-fontDesign;
    margin-bottom: 64px;
  }
  @include tablet {
    @include body-fontDesignSmall;
    margin-bottom: 64px;
  }
  @include mobile {
    text-align: center;
    margin-bottom: 0px;
    @include body-fontDesignSmall;
  }
}
