@use "../Mixins" as *;

.home--collectionContainer {
  display: grid;
  width: 1280px;
  margin: 39px auto;

}
.collectionTitleContainer {
    grid-area: collectionTitle;
     
}

.collectionTitle {
 
  @include title-ab-fontDesign;
  background: linear-gradient(180deg, #83888f, #fefcf7);
  background-clip: text;
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  text-align: center;
  opacity:0.8;
  z-index: 0;

}

.coffeeTypeContainer{
 grid-area: coffeeType;
    display:flex;
 margin: 200px auto;
 justify-content: space-between;
z-index: 1;
width:inherit;

}

.coffeeType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 255px;
}

.desktopBeanBagPic{
    width: 253px;
    height:193px;
}

.beanName {
  @include H4-fontDesign;
  margin-top:71px;
  margin-bottom: 8px;
}

.beanDescription {
  @include body-fontDesign;
  width: inherit;
  text-align: center;
}
